In [2]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from nltk.corpus import stopwords

In [3]:
documentA = 'the man went out for a walk'
documentB = 'the children sat around the fire'

In [4]:
bagOfWordsA = documentA.split(' ')
bagOfWordsB = documentB.split(' ')

In [5]:
uniqueWords = set(bagOfWordsA).union(set(bagOfWordsB))

In [6]:
numOfWordsA = dict.fromkeys(uniqueWords, 0)
for word in bagOfWordsA:
    numOfWordsA[word] += 1
numOfWordsB = dict.fromkeys(uniqueWords, 0)
for word in bagOfWordsB:
    numOfWordsB[word] += 1

In [7]:
numOfWordsA

{'around': 0,
 'walk': 1,
 'children': 0,
 'sat': 0,
 'a': 1,
 'the': 1,
 'for': 1,
 'went': 1,
 'man': 1,
 'fire': 0,
 'out': 1}

In [8]:
numOfWordsB

{'around': 1,
 'walk': 0,
 'children': 1,
 'sat': 1,
 'a': 0,
 'the': 2,
 'for': 0,
 'went': 0,
 'man': 0,
 'fire': 1,
 'out': 0}

In [9]:
stopwords.words('english');

In [10]:
vectorizer = TfidfVectorizer()
vectors = vectorizer.fit_transform([documentA, documentB])
feature_names = vectorizer.get_feature_names()
dense = vectors.todense()
denselist = dense.tolist()
df = pd.DataFrame(denselist, columns=feature_names)
df

,around,children,fire,for,man,out,sat,the,walk,went
0,0.000000,0.000000,0.000000,0.42616,0.42616,0.42616,0.000000,0.303216,0.42616,0.42616
1,0.407401,0.407401,0.407401,0.00000,0.00000,0.00000,0.407401,0.579739,0.00000,0.00000