In [8]:
import numpy as np
import pandas as pd
from nltk import tokenize

sentences = []

In [75]:
text = '''נטע פתחה את הפה בהפתעה:  
"אז מי היה הנועם ההוא, שישב בפיצרייה בחמש, עם משקפיים וג'ינס? 
אני הייתי בטוחה שהוא הנועם שלךְ".
תמר צחקה: "עכשיו את מבינה למה הוא לא הבין כשהתנפלת עליו?"
נטע הֶחְוִירה (הפנים שלה נהיו לבנות): "והשארתי לו את מספר הטלפון שלי."
"איזו פדיחה...תמר, מה אני אעשה אם הוא יצלצל? לספר לו את האמת? 
לגלות לו שהייתי בטוחה שהוא מישהו אחר? תמר, תעני לי, מה לעשות אם הוא
יציע פגישה?"
תמר חייכה: "נטע, אחרי מה שעברת היום, יש לי הרגשה שאת כבר לא צריכה 
אותי בתור מדריכה שלך. אם עברת את זה ונשארת בחיים, אני בטוחה 
שתצליחי להסתדר לבד".
'''

In [76]:
text2 = tokenize.sent_tokenize(text)
sentences = sentences + text2

In [77]:
# for i in range(len(sentences)):
#     print(len(text2[i].split()))

In [78]:
len(sentences)

617

In [79]:
text3 = pd.DataFrame({'משפט': sentences})

text3.to_excel("Desktop/sentences617.xlsx") 

r = pd.read_excel('Desktop/sentences617.xlsx', index_col=0) 
r

                                                  משפט
0                       בחופשת הקיץ, עידן החליט לעבוד.
1    החברים שלו נסעו לים והלכו לבלות אבל הוא רצה לע...
2                            עידן רצה לעבוד בטלוויזיה.
3                     הוא מאוד אוהב את תחום הטלוויזיה.
4                                        עכשיו צהריים.
..                                                 ...
612                                   לספר לו את האמת?
613              לגלות לו שהייתי בטוחה שהוא מישהו אחר?
614        תמר, תעני לי, מה לעשות אם הוא\nיציע פגישה?"
615  תמר חייכה: "נטע, אחרי מה שעברת היום, יש לי הרג...
616  אם עברת את זה ונשארת בחיים, אני בטוחה \nשתצליח...

[617 rows x 1 columns]

In [80]:
r = pd.read_excel('Desktop/sentences617.xlsx', index_col=0) 
r

                                                  משפט
0                       בחופשת הקיץ, עידן החליט לעבוד.
1    החברים שלו נסעו לים והלכו לבלות אבל הוא רצה לע...
2                            עידן רצה לעבוד בטלוויזיה.
3                     הוא מאוד אוהב את תחום הטלוויזיה.
4                                        עכשיו צהריים.
..                                                 ...
612                                   לספר לו את האמת?
613              לגלות לו שהייתי בטוחה שהוא מישהו אחר?
614        תמר, תעני לי, מה לעשות אם הוא\nיציע פגישה?"
615  תמר חייכה: "נטע, אחרי מה שעברת היום, יש לי הרג...
616  אם עברת את זה ונשארת בחיים, אני בטוחה \nשתצליח...

[617 rows x 1 columns]

In [81]:
index = pd.Index(r['משפט'])
size = index.value_counts()
size
#10-40 size

בחופשת הקיץ, עידן החליט לעבוד.                                                                                                                                                          1
מיכל כעסה: "אל תיגע בי ואל תקרא לי מיכלי".                                                                                                                                              1
ירון ליטף את הגיטרה שלו וענה:\n"אז לא, בחייךְ, מה את עושה מזה כזה עניין?"                                                                                                               1
מיכל הרגישה שהיא רוצה לבכות:\n"אני לא עושה שום עניין, אבל אני לא מבינה... \nאני פשוט לא מבינה איך אתה לוקח את זה כל בקלות... \nכאילו שבכלל לא אכפת לך אם כן או לא נמשיך להיות חברים.    1
לא תרצה להיות בקשר איתי אחרי החופש הגדול?"                                                                                                                                              1
                                                                                                                                                                                       ..
נטע התביישה ואמרה: \n"אני לא רוצה לבקש טובה ממישהו שאני לא מכירה".                                                                                                                      1
המוֹכֶרֶת צעדה לעבר הבחור , לחשה משהו באוזן שלו ופתאום \nהפרצוף שלו נעשה מופתע.                                                                                                         1
נטע הבינה למה הבחור מופתע: הוא עמד בחנות, מחפש מכנסיים או \nחולצה, ופתאום ניגשת אליו המוֹכֶרֶת ומבקשת שיגיד לנערה שהוא לא \nמכיר את דעתו על הז'קט ....מוזר, לא?                         1
המוֹכֶרֶת והבחור הגיעו לנטע והמוֹכֶרֶת שאלה את הבחור:\n"מה דעתךָ?"                                                                                                                      1
אם עברת את זה ונשארת בחיים, אני בטוחה \nשתצליחי להסתדר לבד".                                                                                                                            1
Name: משפט, Length: 617, dtype: int64

In [83]:
lenght = []
for i in range(len(r)):
    #print(len(r['משפט'][i].split()))
    lenght.append(len(r['משפט'][i].split()))

In [84]:
r['lenght'] = lenght
r

                                                  משפט  lenght
0                       בחופשת הקיץ, עידן החליט לעבוד.       5
1    החברים שלו נסעו לים והלכו לבלות אבל הוא רצה לע...      10
2                            עידן רצה לעבוד בטלוויזיה.       4
3                     הוא מאוד אוהב את תחום הטלוויזיה.       6
4                                        עכשיו צהריים.       2
..                                                 ...     ...
612                                   לספר לו את האמת?       4
613              לגלות לו שהייתי בטוחה שהוא מישהו אחר?       7
614        תמר, תעני לי, מה לעשות אם הוא\nיציע פגישה?"       9
615  תמר חייכה: "נטע, אחרי מה שעברת היום, יש לי הרג...      18
616  אם עברת את זה ונשארת בחיים, אני בטוחה \nשתצליח...      11

[617 rows x 2 columns]

In [85]:
index = pd.Index(r['lenght'])
size = index.value_counts()
size
#10-40 size

6     68
10    55
8     55
5     54
7     51
4     48
9     45
12    31
11    30
3     30
13    25
14    21
2     18
15    14
17    11
19     9
16     8
18     7
21     6
20     5
22     4
23     4
25     3
28     3
30     3
33     2
1      2
24     1
35     1
29     1
37     1
26     1
Name: lenght, dtype: int64