In [5]:
from surprise import SVD
from surprise import Dataset
from surprise.model_selection import cross_validate

# Load the movielens-100k dataset (download it if needed).
data = Dataset.load_builtin('ml-100k')

# Use the famous SVD algorithm.
algo = SVD()

# Run 5-fold cross-validation and print results.
cross_validate(algo, data, measures=['RMSE', 'MAE'], cv=5, verbose=True)

Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.9400  0.9392  0.9347  0.9352  0.9276  0.9354  0.0044
MAE (testset)     0.7402  0.7416  0.7360  0.7368  0.7300  0.7369  0.0040
Fit time          2.90    2.91    2.92    2.91    2.91    2.91    0.00
Test time         0.11    0.09    0.11    0.11    0.11    0.11    0.01

{'test_rmse': array([0.94004284, 0.9392058 , 0.9347184 , 0.93522654, 0.92755738]),
 'test_mae': array([0.74017976, 0.74157255, 0.73600035, 0.73679524, 0.73000268]),
 'fit_time': (2.903754711151123,
  2.910616397857666,
  2.9164657592773438,
  2.9110119342803955,
  2.9080698490142822),
 'test_time': (0.11269855499267578,
  0.08980298042297363,
  0.11070370674133301,
  0.10868096351623535,
  0.10973405838012695)}

In [6]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt

In [7]:
data = pd.read_csv("item_dedup.csv")

In [12]:
data

          A3AF8FFZAZYNE5  0000000078  5.0  1092182400
0          AH2L9G3DQHHAJ  0000000116  4.0  1019865600
1         A2IIIDRK3PRRZY  0000000116  1.0  1395619200
2         A1TADCM7YWPQ8M  0000000868  4.0  1031702400
3          AWGH7V0BDOJKB  0000013714  4.0  1383177600
4         A3UTQPQPM4TQO0  0000013714  5.0  1374883200
...                  ...         ...  ...         ...
82677125  A349MZLDSQAIQC  BT00IU6O8K  3.0  1375401600
82677126  A1NFN9O4A2Q92V  BT00IU6O8K  5.0  1375142400
82677127  A1DA2L6U0AFMLL  dp-g310/do  5.0  1195948800
82677128   AIDHT6KXOL64T  SMLRBIMX03  5.0  1355788800
82677129  A161I1MHX2G2BR  SMLRBIMX03  4.0  1364860800

[82677130 rows x 4 columns]