In [1]:
#pip install --upgrade ipykernel ipython

In [2]:
#pip install twint

In [3]:
#pip install nest_asyncio

In [4]:
#conda install git

In [5]:
#pip install --upgrade -e git+https://github.com/twintproject/twint.git@origin/master#egg=twint

In [6]:
import nest_asyncio
nest_asyncio.apply()

In [7]:
import twint
#https://github.com/twintproject/twint/wiki
a = twint.Config()
a.Username = 'YairNetanyahu'
a.Limit = 10
#a.Since = "2020-02-01"
a.Store_csv = True
a.Output =a.Username+".csv"
a.Lang="he"


# a.Search = "from:@santi_ABASCAL vox"

# a.User_full = True
# a.Pandas = True

In [8]:
twint.run.Search(a)

1504857192087891969 2022-03-18 18:28:08 +0200 <YairNetanyahu>  爪驻 专 注专抓 @FoxNews. 注专抓 砖转 爪驻 专拽. 驻住拽转 驻专住转 驻转 拽转 转 驻专 :  https://t.co/VRHjRR51N0
1504775122976231426 2022-03-18 13:02:01 +0200 <YairNetanyahu> 转 专! 转 ! 转 驻!  https://t.co/aCYOFj2WC8
1504765111977889793 2022-03-18 12:22:14 +0200 <YairNetanyahu>  抓 注 拽  转转 砖注转 专 @IsraelGaley ! 砖转 砖!   https://t.co/Pyec3qZOQv  https://t.co/PCj4cRkPNF
1504502937883754510 2022-03-17 19:00:27 +0200 <YairNetanyahu> 砖转 砖  https://t.co/ngXdTRj0hO
1504406155866554371 2022-03-17 12:35:52 +0200 <YairNetanyahu>  https://t.co/rWtc3vnMNd
1504362409682771968 2022-03-17 09:42:02 +0200 <YairNetanyahu> Watch my interview to newsmax yesterday
1504202419269521412 2022-03-16 23:06:18 +0200 <YairNetanyahu>
1504201418948988929 2022-03-16 23:02:19 +0200 <YairNetanyahu>  注 专 转
1504195362940198918 2022-03-16 22:38:15 +0200 <YairNetanyahu> 驻专 砖! ぁ Happy Purim!  https://t.co/pyf7PJoUJm
1504094861095583749 2022-03-16 15:58:54 +0200 <YairNetanyahu> @attilus 拽砖  https://t.co/y954wCsAJ4
1504002101680250880 2022-03-16 09:50:18 +0200 <YairNetanyahu> 转 专 砖转 驻 转 住 注, 驻  住 专
1503991361628000259 2022-03-16 09:07:38 +0200 <YairNetanyahu> 砖转 转 砖 砖
1503827251510525957 2022-03-15 22:15:31 +0200 <YairNetanyahu> Northern Israel today! 糕锔 爪: 专驻   https://t.co/kMt08a5RF3
1503764095618760708 2022-03-15 18:04:33 +0200 <YairNetanyahu> 注  驻 驻拽专 转 砖专 砖 注状 专 爪注转 住 专注, 专 专驻拽 拽专住 住   住  专转
1503761013329604625 2022-03-15 17:52:18 +0200 <YairNetanyahu> 专 转 专住 专转 拽专 砖 拽住专
1503739732152532997 2022-03-15 16:27:44 +0200 <YairNetanyahu> 砖专 抓 专 住 住拽 拽  砖 专爪.  住 驻砖 转 驻, 拽 住 转 住 专注 住 转 拽 砖 砖专,  转注住拽 拽专...  https://t.co/uXTUh1cMZL
1503719574952460295 2022-03-15 15:07:39 +0200 <YairNetanyahu>   砖  砖 转 住 专注 砖转 注 驻, 驻 砖专  砖住 注专 砖转 注 专住.  ?
1503693503062323200 2022-03-15 13:24:03 +0200 <YairNetanyahu> &gt;&gt; 转拽 4000  转拽 转驻专, 注转 , 驻. 住 注爪 拽专 住驻转 转 转拽 4000  砖转 爪 砖.    砖注专抓 转专注 12 砖专 转 专 专转   专注砖  :
1503693499941756930 2022-03-15 13:24:02 +0200 <YairNetanyahu> 砖 砖 注专抓 转注 12 砖专  注专 专 专转 拽注 专转 砖拽专, 转 住专 砖转 转转 砖转 注 转拽 转, 砖祝 爪专 转 .  转 转专砖 专注转 . 转 砖驻 砖祝 住 2016 砖 砖 注抓 砖驻 砖, 住   转 驻注  驻, &gt;&gt;  https://t.co/XDTmn33dQr
1503483460744364038 2022-03-14 23:29:25 +0200 <YairNetanyahu>   !?  https://t.co/KBMoNn2yF2

In [9]:
import pandas as pd
df = pd.read_csv("YairNetanyahu.csv")
df

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,1504406155866554371,1504406155866554371,2022-03-17 12:35:52 ????????????? ????? (????),2022-03-17,12:35:52,200,876408437814558724,yairnetanyahu,Yair Netanyahu,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
1,1504362409682771968,1504362409682771968,2022-03-17 09:42:02 ????????????? ????? (????),2022-03-17,09:42:02,200,876408437814558724,yairnetanyahu,Yair Netanyahu,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
2,1504202419269521412,1504202419269521412,2022-03-16 23:06:18 ????????????? ????? (????),2022-03-16,23:06:18,200,876408437814558724,yairnetanyahu,Yair Netanyahu,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
3,1504201418948988929,1504201418948988929,2022-03-16 23:02:19 ????????????? ????? (????),2022-03-16,23:02:19,200,876408437814558724,yairnetanyahu,Yair Netanyahu,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
4,1504195362940198918,1504195362940198918,2022-03-16 22:38:15 ????????????? ????? (????),2022-03-16,22:38:15,200,876408437814558724,yairnetanyahu,Yair Netanyahu,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,1503739732152532997,1503739732152532997,2022-03-15 16:27:44 ????????????? ????? (????),2022-03-15,16:27:44,200,876408437814558724,yairnetanyahu,Yair Netanyahu,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
196,1503719574952460295,1503719574952460295,2022-03-15 15:07:39 ????????????? ????? (????),2022-03-15,15:07:39,200,876408437814558724,yairnetanyahu,Yair Netanyahu,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
197,1503693503062323200,1503693499941756930,2022-03-15 13:24:03 ????????????? ????? (????),2022-03-15,13:24:03,200,876408437814558724,yairnetanyahu,Yair Netanyahu,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
198,1503693499941756930,1503693499941756930,2022-03-15 13:24:02 ????????????? ????? (????),2022-03-15,13:24:02,200,876408437814558724,yairnetanyahu,Yair Netanyahu,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
199,1503483460744364038,1503483460744364038,2022-03-14 23:29:25 ????????????? ????? (????),2022-03-14,23:29:25,200,876408437814558724,yairnetanyahu,Yair Netanyahu,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 36 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               200 non-null    int64
 1   conversation_id  200 non-null    int64
 2   created_at       200 non-null    object
 3   date             200 non-null    object
 4   time             200 non-null    object
 5   timezone         200 non-null    int64
 6   user_id          200 non-null    int64
 7   username         200 non-null    object
 8   name             200 non-null    object
 9   place            0 non-null      float64
 10  tweet            200 non-null    object
 11  language         200 non-null    object
 12  mentions         200 non-null    object
 13  urls             200 non-null    object
 14  photos           200 non-null    object
 15  replies_count    200 non-null    int64
 16  retweets_count   200 non-null    int64
 17  likes_count      200 non-null    int64
 18  hashtags         200 non-null    object
 19  cashtags         200 non-null    object
 20  link             200 non-null    object
 21  retweet          200 non-null    bool
 22  quote_url        101 non-null    object
 23  video            200 non-null    int64
 24  thumbnail        79 non-null     object
 25  near             0 non-null      float64
 26  geo              0 non-null      float64
 27  source           0 non-null      float64
 28  user_rt_id       0 non-null      float64
 29  user_rt          0 non-null      float64
 30  retweet_id       0 non-null      float64
 31  reply_to         200 non-null    object
 32  retweet_date     0 non-null      float64
 33  translate        0 non-null      float64
 34  trans_src        0 non-null      float64
 35  trans_dest       0 non-null      float64
dtypes: bool(1), float64(11), int64(8), object(16)
memory usage: 55.0+ KB

In [11]:
(df['photos'][4])

"['https://pbs.twimg.com/media/FN_5tNEXIAUgcs7.jpg']"

In [22]:
t = df['photos'][4][2:len(df['photos'][4])-2]
t

'https://pbs.twimg.com/media/FN_5tNEXIAUgcs7.jpg'